#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="http://download.eng.brq.redhat.com/pub/fedora/linux/releases/25/Server/x86_64/os/"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp
network  --hostname=streamer
# Root password
rootpw fo0m4nchU
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Prague --isUtc --ntpservers=clock01.util.phx2.redhat.com,clock02.util.phx2.redhat.com
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel
reboot

%packages
@^server-product-environment
python2
python2-dnf
libselinux-python
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
%end

%post
mkdir /root/.ssh
cat  << xxEOFxx >> /root/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC4k9V1cxKfmF9STAYOav5uNTsvHPIg6XRdiH0jvn5mldy00XJ4w7wwbcxe1iNyjqpCWlWb2VC5w1KFFKGFdRmY8JDARYEh8TSUdW4HLZqtpUFTqik8CwaWL4iUjxv3K+yW7XI9nUWwFBsZ+F4q9A9+nHyzcqGff2pu5rSLzz99/n3bj08fGjVcLAUHd1uEiSZjoNaL9hvm/mKLCCpLzZFZL7YuvLJjhL8F+zSc+15tbE9mwQJlwtd/yZpSXgTwRwePnrmIlNihCMj/Y7XomCSNiTkGNaqEqP+2VveAfp92XWVhtRD8ZWhraMOr0iIDnsQ7RvTqpsCEMrat3NiM79IC5taC5agzt1/4x8mON7HFvGZ8Jw4zbBFUoVzpXCGNUIKeAFULoIl016B7KgYeTuJRFHyeZzoB3nAiCGQf9y35qhBkN0ojLSqxB8ZUo/p8aRaDTQz/w3Eb2IY4AZKOKuz5EG1XN8WTs9tPfT/0Q+i6uxIr4Vk2X6FNcNsO6a9Za9BmniJqjM6eDjQNzZ+CZ3sF/XFsYt8505eReu/kDuaq0X4KjxWIdW5fuP1wSVRYO3Xhwx6+cRMEIxihsLOjdgq3FL5CcCB+QKnt3A1EcpHGJxpiIqfkZ+AmVfCo/jh8LTYKEPWA3ve+v56Ii+zxNeqkxkj6IkPKlajWjbQDrVXp/w== ljozsa@redhat.com
xxEOFxx
chmod 0600 /root/.ssh/authorized_keys
%end
